table {
    width: 100%;
}
.mat-table {
    background-color: transparent !important;
}
.mat-elevation-z8 {
    border-radius: 12px;
}
.mat-table thead {
    border-radius: 12px;
}
.mat-paginator {
    border-radius: 12px;
}