table {
    width: 100%;
}
.mat-table {
    background-color: transparent !important;
}
.mat-elevation-z8 {
    border-radius: 12px;
}
.mat-table thead, td {
    border-radius: 12px;
}
.mat-paginator {
    border-radius: 12px;
}

// Pasted
table {
    width: 100%;
  }
  
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}
tr:last-child td:last-child {
  border-bottom: none;
}